*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: #8763e0;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	font-family: 'Comic Neue', cursive;
}

h1{
	text-align: center;
	font-size: 75px;
	margin: 20px 0px 10px;
	font-weight: bold;
	color: white;
}

h2 {
	text-align: center;
	font-size: 55px;
	margin: 45px 0px 0px 0px;
	color: white;
}

h3{
	text-align: center;
	font-size: 60px;
	margin: 0px 0px 20px;
	font-weight: bold;
	color: #452a9b;
}

.message{
	text-align: center;
	font-size: 25px;
	color: #452a9b;
	width: 100%;
	display: block;
	margin: 0;
}

.frame{
  width: 100%;
  height: auto;
}

.container{
	margin: 0 auto;
	width: 80%;
  	max-width: 800px;
	height: auto;
	display: flex;
	position: relative;

	/* property name | duration | easing function | delay */
	transition: transform 200ms ease-in-out 0ms;
}

.container:hover{
	transform: rotate(1deg)
}

.catImage {
	width: 80%;
	height: 80%;
  	max-width: 650px;
	max-height: 500px;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #fdd3f3;
}

.btn-container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 800px;
  	height: auto;
}

.btn {
	display: block;
	width: 75px;
	height: 70px;
	margin: 10px 30px 0;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: -4px 3px 9px -1px rgba(0,0,0,0.2);
	-webkit-box-shadow: -4px 3px 9px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: -4px 3px 9px -1px rgba(0,0,0,0.2);
	border: none;

	/* property name | duration | easing function */
	transition: background,transform 150ms ease-in-out;
}

.btn i {
	font-size: 40px;
	color: #452a9b;
	
}

.btn:hover {
	cursor: pointer;
	background: #fdd3f3;
	transform: scale(1.05);
}

.kitty {
	position: absolute;
	width: 25%;
	max-width: 180px;
	height: auto;
	top: -10%;
	left: -8%;
}

.tape1 {
	position: absolute;
	width: 10%;
	max-width: 70px;
	height: auto;
	bottom: -10%;
	transform: rotate(130deg);
}

.tape2 {
	position: absolute;
	width: 8%;
	max-width: 65px;
	height: auto;
	bottom: -5%;
	right: 0;
	transform: rotate(40deg);
}

.fullscreenImage{
	display: none;
	background-color: #1e1631b4;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
}

.catImageFullScreen {
	height: 90%;
	width: auto;
}

.masonry { 
	column-count: 3;
	column-gap: 1em;
	row-gap: 1em;
	width: 100%;
	margin: 0 auto;

	animation-name: opacityanimation ;
	animation-duration: 400ms;
	animation-timing-function: ease-out;
}

@keyframes opacityanimation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.item { 
	background-color:#fdd3f3;
	display: inline-block;
	width: 100%;
	border-radius: 2px;
	border: 8px solid #fdd3f3;
	box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
}

.itemContainer {
	position: relative;
	height: auto;
	margin: 0 0 1em;

	/* property name | duration | easing function | delay */
	transition: transform 200ms ease-in-out 0ms;
}

.itemContainer:hover {
	transform: scale(1.02);
}

.removeButton {
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	background-color: #fdd3f3;
}

.removeButton i {
	color:#452a9b;
	font-size: 24px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

.tabs label {
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	background-color: #e0e0e0;
	color: #452a9b;
	font-weight: bold;
}

.tabs .tab {
	order: 9;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	padding: 1rem;
	background: white;
	padding: 20px;
	box-shadow: 0px 25px 10px 4px rgba(0,0,0,0.1);
	border-radius: 0px 8px 8px 8px;
}

.tabs input[type="radio"] {
	display: none;
}

.tabs input[type="radio"] + label {
	border-radius: 8px 8px 0px 0px;

	/* property name | duration | easing function | delay */
	transition: background, color 200ms ease-in-out 0ms;
}
   
.tabs input[type="radio"]:checked + label {
	background: white; 
	color: #8763e0;
 }
   
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.tab > h3 {
	animation-name: animation ;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes animation {
	from {
		scale: 1.05;
	}

	to {
		scale: 1;
	}
}

input[type="file"] {
    display: none;
}

.customFile{
	display: flex;
	justify-content: center;
	align-items: center;
}

#uploadingForm {
	margin: 0px auto 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	max-width: 800px;
}

#uploadingForm > p {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 22px;
	margin: 10px 0 0 0;
}

#uploadCat{
	display: none;
}

#uploadingImgCat {
	position: relative;
	margin-top: 30px;
	width: 250px;
	height: 250px;
	border-radius: 2px;
	border: 8px solid #fdd3f3;
	box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: none;
}

#spinnerUploadCat {
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 100%;
	height: 100%;
	background-color: #442a9ba4;
	color: white;
}

#spinnerUploadCat > i {
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

#breedsSection{
	margin: 0 auto;
	width: 80%;
  	max-width: 800px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#searchBreed {
	width: 100%;
	height: 40px;
	color: #8763e0;
	background-color: #ffe0f8;
	border: solid 1px #fdd3f3;
	border-radius: 4px;
	padding: 0px 20px;	
	font-size: 17px;
}

#breedsCard{
	width: 100%;
	display: flex;
	flex-direction: column;
	/*border: solid 2px #fdd3f3;*/
	background-color: white;
	border-radius: 10px;
	padding: 20px 40px;
	margin: 20px 0 0 0;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

#breedName{
	color:#8763e0;
	font-weight: bold;
	font-size: 28px;
	margin: 10px 0px 10px 0px;
}

#breedOrigin {
	font-style: italic;
	font-size: 20px;
	margin-left: 8px;
	color: #9071e0;
}

#breedDescription {
	color:#8763e0;
	font-size: 18px;
	margin: 0px 0 15px 0;
}

.breedTrait{
	margin: 0px 0px 10px 0px;
}

.breedTrait label {
	display: block;
	color: #8763e0;
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 5px 0;
}

.breedTrait div {
	width: 100%;
	height: 8px;
	background-color: #c5b0fa;
	border-radius: 5px;
}

.traitLevel {
	display: block;
	/* width: 50%; */
	height: 100%;
	background-color: #8763e0;
	border-radius: 5px;

	animation-name: active-efect;
	animation-duration: 250ms;
	animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

@keyframes active-efect {
    from {
        scale: 0.8;
    }
	to {
		scale: 1;
	}
}

@keyframes loading {
	to {
		rotate: 360deg;
	}
}

@media (max-width: 1300px) {
	.tabs { 
		width: 90%;
	}
}

@media (max-width: 800px) {

	h1{
		font-size: 70px;
		margin: 20px 0px 40px;
	}

  .container{
		width: 90%;
	}

	#uploadingForm {
		width: 90%;
	}

	#uploadingForm > p {
		font-size: 18px;
	}

	#uploadingImgCat {
		margin-top: 20px;
		width: 200px;
		height: 200px;
	}

	.kitty {
		top: -10%;
		left: -4%;
	}	

	.btn {
		width: 65px;
		height: 60px;
	}

	.item { 
		border-radius: 2px;
	}

	.tabs { 
		width: 95%;
	}

	h2 {
		font-size: 45px;
	}

	h3{
		font-size: 45px;
	}

	.tabs label {
		padding: .5rem 1rem;
	}
	
	#breedsSection{
		width: 90%;
	}
	
	#breedsCard{
		padding: 20px 30px;
	}
	
	#breedName{
		font-size: 24px;
	}
	
	#breedOrigin {
		font-size: 18px;
	}
	
	#breedDescription {
		font-size: 18px;
	}
	
	.breedTrait label {
		font-size: 18px;
	}
	
}

@media (max-width:700px) {
	.masonry {
		column-count: 2;
	  }
}

@media (max-width: 600px) {

	h1{
		font-size: 60px;
		margin: 20px 0px 50px;
	}

	.btn {
		width: 55px;
		height: 50px;
	}

	.message{
		font-size: 22px;
	}

	.masonry { 
		column-gap: .5em;
		row-gap: .5em;
	}

	.item { 
		border: 6px solid white;
	}	

	.itemContainer {
		margin: 0 0 .5em;
	}

	.btn i {
		font-size: 30px;
	}

	.removeButton {
		width: 25px;
		height: 25px;
	}

	.removeButton i {
		font-size: 22px;
	}

	#searchBreed {
		font-size: 16px;
	}
	
	#breedsCard{
		padding: 20px 30px;
	}
	
	#breedName{
		font-size: 22px;
	}
	
	#breedOrigin {
		font-size: 17px;
	}
	
	#breedDescription {
		font-size: 16px;
	}
	
	.breedTrait label {
		font-size: 17px;
	}

}

@media (max-width: 500px) {

	h1{
		font-size: 55px;
		margin: 20px 0px 40px;
	}

	h3{
		font-size: 40px;
		margin: 0px 0px 25px;
	}

	h2 {
		font-size: 40px;
	}

	.btn {
		width: 45px;
		height: 40px;
	}

	.btn i {
		font-size: 25px;
	}

	.message{
		font-size: 20px;
	}

	#uploadingImgCat {
		width: 180px;
		height: 180px;
	}

}